mixin navLocalEngines(base, engines, queryEngine)
  nav
    ul.nav-local
      li
        if engines.indexOf(queryEngine) === -1
          a.index Indexes
        else
          a.index(href=base) Indexes
      each engine in engines
        li
          - var engineLink = base + 'engine/' + encodeURIComponent(engine) + '/'
          if queryEngine === engine
            a.engine-name(class=engine)= engine
          else
            a.engine-name(class=engine)(href=engineLink)= engine
