extends layout

block content
  h1= title
  h2 What does Platestatus mean?
  p Platestatus is a pun on Platform Status and <a href="https://en.wikipedia.org/wiki/Plateosaurus">Platesaurus</a> which is an ancient creaturs.