extends layout

block content
  h1 About

  section
    h2 Rational
    p Every time I read a specification, I imagine the world where every browser implements the specification. Soon after, I wake from the dream. I know the real is different. I know there are specifications which some browsers support and other browsers don't support. So I wonder whether the specification I am reading is implemented by browsers or not.
    p Specifications themselves rarely provide information of implemenations (browsers) of them. On the other hand major browser vendors maintain the platform statuses which show roadmaps of their browsers. If the specifications is listed in the platform statuses, it is possible to know how browser vendors think about the specification: the specification is implemented by browsers,  being developed or not intent to support.
    p However platform statuses are not integrated with specifications. Thus it is not guaranteed whether the specification is listed in the platform statuses until you check all of platform statuses.
    p To ease this situation, Plateostatus provides a dashboard of platform statuses.

    hr

    p To be fair, some specifications provides implementation information. For example, <a href="https://html.spec.whatwg.org/multipage/">WHATWG HTML Standard</a> has small boxes which show Can I use... information.
    div.figure
      img(alt='', src='/images/about/whatwg-html.png')
    p Some other specifications including <a href="https://drafts.csswg.org/cssom-view-1/">CSSOM View</a> have small boxes which notifiy a section is not yet widely implemented.
    div.figure
      img(alt='', src='/images/about/cssom-view.png')
    p If majority of specifications are integrated with the platform statuses, Plateostatus may be shut down.

  section
    h2 What are Platform Statuses?
    p A browser platform status describe roadmap of its browser. It tells you which specifications are supported, will be supported or removed from the browser.
    p Plateostatus tracks following platform statuses.
    dl
      dt Chromium
      dd
        a(href='https://www.chromestatus.com/features') Chrome Platform Status
      dt Edge
      dd
        a(href='https://developer.microsoft.com/en-us/microsoft-edge/platform/status/') Platform status 
      dt WebKit
      dd
        a(href='https://webkit.org/status/') WebKit Feature Status
      dt Gecko
      dd
        a(href='https://platform-status.mozilla.org/') Firefox Platform Status

  section
    h2 Other resources
    p Following web sites provides useful information. 
    ul.list
      li
        a(href='http://caniuse.com/') Can I use...
      li
        a(href='https://platformstatustracker.azurewebsites.net') Browser Platform Status Tracker
      li
        a(href='https://github.com/simevidas/browser-intents') browser-intents
      li
        a(href='https://jakearchibald.github.io/isserviceworkerready/') Is ServiceWorker ready?
      li
        a(href='https://birtles.github.io/areweanimatedyet/') Are we animated yet?
      li
        a(href='http://kangax.github.io/compat-table/es6/') ECMAScript 6 compatibility table

  section
    h2 What does Plateostatus mean?
    p Plateostatus is a pun on Platform Status and <a href="https://en.wikipedia.org/wiki/Plateosaurus">Plateosaurus</a> which is an ancient creature.

