extends layout

block content
  h1 Platform Status Indicator
  p Platform Status Indicator provides quick access to platform status data of specification you are reading.
  div.figure
    img(alt='', src='/images/addons/ps-indicator.png')
  h2 Rational
  p Every time I read a specification, I imagine the world where every browser implements the specification. Soon after, I wake from the dream. I know the real is different. I know there are some specifications which some browsers supoort and others don't intent to support.
  p Today, major browser vendors maintain platform statuses which show roadmaps of their browsers. However, platform statuses are not integrated with specifications. Thus I need to open 4 web sites in addition to the specification.
  p Platform Status Indicator provides quick access to platform status data of specification I am reading.
  
  h2 Q &amp; A
  dl
  dt Are ther any plans to support browsers other than Google Chrome
  dd
    p Yes, Plateostatus intent to make Platform Status Indicator WebExtentions compatible.
