extends layout

block content
  h1 Platform Status Indicator
  p Platform Status Indicator shows whether a specification you're reading is listed in the browsers' platform statuses (Chrome, Edge, WebKit and Firefox).
  div.download
   a(href='https://chrome.google.com/webstore/detail/platform-status-indicator/fgpenaabfgmnbkgfhocpijmbnjmakpfg') Download Platform Status Indicator from Chrome Web Store
  div.figure
    img(alt='', src='/images/addons/ps-indicator.png')

  section
    h2 Rational
    p Every time I read a specification, I imagine the world where every browser implements the specification. Soon after, I wake from the dream. I know the real is different. I know there are specifications which some browsers support and other browsers don't support. So I wonder whether the specification I am reading is implemented by browsers or not.
    p Specifications themselves rarely provide information of implemenations (browsers) of them. On the other hand major browser vendors maintain the platform statuses which show roadmaps of their browsers. If the specifications is listed in the platform statuses, it is possible to know how browser vendors think about the specification: the specification is implemented by browsers,  being developed or not intent to support.
    p However platform statuses are not integrated with specifications. Thus it is not guaranteed whether the specification is listed in the platform statuses until you check all of platform statuses.
    p To ease this situation, Platform Status Indicator shows whether a specification you are reading is listed in the browsers' platform statuses (Chrome, Edge, WebKit and Firefox).

  section
    h2 Features
    p Platform Status Indicator adds an indicator to your browser. The indicator is enabled if the page you're visiting is listed on the platform statuses.
    p Then you click the indicator, a popup menu will be appeared. The popup menu lists all of platform status entries of the page which are grouped by browsers. 
    p Each platform status entry has a link to original platform status entry so that you can jump to platform status to refer to more detailed information.

  section
    h2 Q &amp; A
    dl
      dt Will this addon send URLs I am visiting?
      dd
        p No. Platform Status Indicator does not send any URLs you are visiting to any servers. 
        p Instead, Platform Status Indicator downloads platform status data which contains every URL of specification that Platform Status Indicator supports. So Platform Status Indicator does not need to send any URLs to any servers.
      dt Are ther any plans to support browsers other than Google Chrome
      dd
        p Yes, Plateostatus intents to make Platform Status Indicator <a href="https://developer.mozilla.org/Add-ons/WebExtensions">WebExtentions</a> compatible.
        div.figure
        img(alt='', src='/images/addons/ps-indicator-webextensions.png')
