extends layout

block content
  h1 Plateostatus
  p A dashboard of platform status data.

  dl
    dt
      a(href='/addons/') Platform Status Indicator
    dd
      p Get a browser addon which provides quick access to platform status data of specification you are reading.
    dt
      a(href='/status/') Indexes of Platform Status
    dd
      p Compare platform status data of Chromium, Edge, WebKit and Gecko by URL. 
    dt
      a(href='/n11n/') Normalization
    dd
      p Plateostatus normalizes status and specification URL of platform status data. How Plateostatus normalizes them.
