extends layout

block content
  h1 Plateostatus
  p A dashboard of browser platform statuses.

  dl
    dt
      a(href='/addons/') Platform Status Indicator
    dd
      p Get a browser addon which provides quick access to browser platform statuses of a specification you are reading.
    dt
      a(href='/status/') Indexes of platform status
    dd
      p Compare platform status of Chromium, Edge, WebKit and Gecko by specification URL. 
    dt
      a(href='/n11n/') Normalization
    dd
      p Plateostatus normalizes status and specification URL of platform status data. How Plateostatus normalizes them.
