extends layout

block content
  h1 Plateostatus
  p A dashboard of the Platform Status data.

  dl
    dt
      a(href='/addons/') Platform Status Indicator
    dd
      p Get a browser addon which provides quick access to the Platform Status data of specification you are reading.
    dt
      a(href='/status/') Indexes of Platform Status
    dd
      p Compare the Platform Status data of Chromium, Edge, WebKit and Gecko. 
    dt
      a(href='/n11n/') Normalization
    dd
      p Plateostatus normalizes status and specification url of the Platform Status data. How Plateostatus normalizes them.
