extends layout

block content
  h1 Plateostatus
  p Dashboard of browsers' Platform Status.

  dl
    dt
      a(href='/addons/') Platform Status Indicator
    dd
      p Get a browser addon which provides quick access of the Platform Status information of visiting page.
    dt
      a(href='/status/') Indexes of Platform Status
    dd
      p View All of the Platform Status entries from Chromium, Edge, WebKit and Gecko.
    dt
      a(href='/n11n/') Information for developers
    dd
      p Plateostatus normalize status and spec url of the Platfrom Status entries. How to improve the normalization.
