doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    - var t = title + ' | Plateostatus'
    title= t
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      div.logo Plateostatus
      nav
        ul
          li
            a(href='/') Top
          li
            a(href='/addons/') Addon
          li
            a(href='/status/') Indexes of Platform Status
          li
            a(href='/log/') Update Information
          li
            a(href='/about/') About
    block content
    footer
      div Plateostatus