doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    - var t = title + ' | Plateostatus'
    title= t
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    p The content of this site is licensed under <a href="https://creativecommons.org/licenses/by-sa/3.0/">CC BY SA 3.0</a>.