doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport',content='width=device-width')
    - var t = title + ' | Plateostatus'
    title= t
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header.header
      div.logo
        a(href='/') Plateostatus
      nav.nav
        ul.nav-list
          li
            a(href='/addons/') Addons
          li
            a(href='/status/') Indexes
          li
            a(href='/n11n/') For develoeprs
          li
            span Updates
          li
            a(href='/about/') About
    main.content
      block content
    footer.footer
      p Material icons are from <a href="https://design.google.com/icons/">design.google.com</a> (<a href="https://creativecommons.org/licenses/by/4.0/">CC BY 4.0</a>).
      p Platform Status data are form  
      ul
        li <a href="https://www.chromestatus.com/features">chromestatus.com</a> (<a href="https://creativecommons.org/licenses/by/2.5/">CC BY 2.5</a>)
        li <a href="https://dev.windows.com/en-us/microsoft-edge/platform/status/">dev.windows.com</a> (<a href="https://creativecommons.org/licenses/by/2.5/">CC BY 2.5</a>)
        li <a href="https://webkit.org/status/">webkit.org</a> (<a href="https://svn.webkit.org/repository/webkit/trunk/Source/WebCore/LICENSE-LGPL-2.1">LGPL</a>)
        li <a href="https://platform-status.mozilla.org/">platform-status.mozilla.org (<a href="https://creativecommons.org/licenses/by-sa/3.0/">CC BY SA 3.0</a>)
