mixin lastUpdated()
  - var updated = moment(data.datetime || 0).utc()
  p
    | Last updated: 
    time(datetime=updated.format())= updated.format(momentFormat)

doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport',content='width=device-width')
    - var t = title + ' | Plateostatus'
    title= t
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto:400,700')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header.header
      div.logo
        a(href='/') Plateostatus
      nav.nav
        ul.nav-global
          li
            a(href='/addons/') Addons
          li
            a(href='/status/') Indexes
          li
            a(href='/n11n/') Normalization
          li
            a(href='/updates/') Updates
          li
            a(href='/about/') About
    main.content
      block content
    div.nav-top
      a(href='#top') Top of page
    footer.footer
      p Platform Status data are form <a href="https://www.chromestatus.com/features">chromestatus.com</a> (<a href="https://creativecommons.org/licenses/by/2.5/">CC BY 2.5</a>), <a href="https://developer.microsoft.com/en-us/microsoft-edge/platform/status/">developer.microsoft.com</a> (<a href="https://creativecommons.org/licenses/by/2.5/">CC BY 2.5</a>), <a href="https://webkit.org/status/">webkit.org</a> (<a href="https://svn.webkit.org/repository/webkit/trunk/Source/WebCore/LICENSE-LGPL-2.1">LGPL</a>), and <a href="https://github.com/mozilla/platform-status">github.com/mozilla</a> (<a href="https://github.com/mozilla/platform-status/blob/master/LICENSE">Apache License 2.0</a>).
      p Plateostatus uses data from <a href="http://www.specref.org/">specref</a> (<a href="http://creativecommons.org/publicdomain/zero/1.0/">CC0</a>).
      p Material icons are from <a href="https://design.google.com/icons/">design.google.com</a> (<a href="https://creativecommons.org/licenses/by/4.0/">CC BY 4.0</a>).
      p Copyright &copy; Takeshi Kurosawa
