extends layout

block content
  h1 Updates
  p Plateostatus updates its data semi-automatically (once a week or so).
  +lastUpdated()

  p If you are looking for update information of platform statuses themselves, Plateostatus recommends you to check <a href="https://platformstatustracker.azurewebsites.net/">Browser Platform Status Tracker</a>.
