* {
    box-sizing: border-box;
    font-size: 1em;
    font-weight: normal;
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style: none;
}


body {
    background: #fff;
    color: #333;
    font-family: sans-serif;
    line-height: 1.5;
    margin: auto;
    max-width: 80rem;
}


h1 {
    font-size: 2rem;
    padding: 2rem 1rem;
}


.toc {
    border-left: medium solid gray;
    margin-bottom: 2rem;
    margin-left: 1rem;
    padding: 0 1rem .5rem;
}

.toc h2 {
    padding: 0 0 .5rem;
}

.toc a {
    color: inherit;
}

.toc-list {
    -moz-column-width: 18em;
    -webkit-column-width: 18em;
    column-width: 18em;
    list-style: none;
}

.host {
    margin-bottom: 2em;
}

.host-name {
    color: #212121;
    font-size: 2rem;
    padding: 1rem 1rem .5rem;
}

.url .url-name {
    color: #424242;
    font-size: 1.5rem;
    padding: 1rem;
}

.url .url-name a {
    color: inherit;
}

.fragment {
    margin-bottom: 3rem;
}

.fragment .fragment-name {
    color: #757575;
    font-size: 1.2rem;
    padding: .5rem 1rem;
}

.fragment:after {
    clear: both;
    content: '';
    display: block;
    width: 0;
}


.engine {
    margin-bottom: 1rem;
    padding: 1rem .5rem 1rem 1rem;
}

.engine-name {
    background: no-repeat .25rem .125rem / 1em 1em;
    padding-bottom: .5rem;
    padding-left: 1.5rem;
}

.engine-name.chromium {
    background-image: url('../images/icons/chrome.png');
}

.engine-name.edge {
    background-image: url('../images/icons/edge.png');
}

.engine-name.gecko {
    background-image: url('../images/icons/firefox.png');
}

.engine-name.webkit {
    background-image: url('../images/icons/webkit.png');
}


.entry-list {
    list-style: none;
}


.entry {
    background: no-repeat .5rem .5rem / 2rem 2rem;
    margin-left: 1.5rem;
    padding: .5rem .5rem .5rem 2rem;
    position: relative;
}

.entry a {
    color: inherit;
}

.entry .title {
    padding-left: 1.25rem;
}

.entry.supported {
    background-color: #a5d6a7;
    background-image: url('../images/icons/supported.svg');
    border-top: #43a047 medium solid;
}

.entry.in-development {
    background-color: #ffe082;
    background-image: url('../images/icons/in-development.svg');
    border-top: #ffb300 medium solid;
}

.entry.under-consideration {
    background-color: #eeeeee;
    background-image: url('../images/icons/under-consideration.svg');
    border-top: #757575 medium solid;
}

.entry.not-planned {
    background-color: #eeeeee;
    background-image: url('../images/icons/not-planned.svg');
    border-top: #757575 medium solid;
}

.entry.deprecated {
    background-color: #ffab91;
    background-image: url('../images/icons/deprecated.svg');
    border-top: #f4511e medium solid;
}

.entry.removed {
    background-color: #ffab91;
    background-image: url('../images/icons/removed.svg');
    border-top: #f4511e medium solid;
}


.entry.behindFlag:after {
    background: url('../images/icons/behindFlag.svg') no-repeat 0 0 / 1rem 1rem;
    content: '';
    display: block;
    height: 1rem;
    left: .5rem;
    position: absolute;
    top: 1.5rem;
    width: 1rem;
}

.entry.prefixed:before {
    background: url('../images/icons/prefixed.svg') no-repeat top left / 1rem 1rem;
    content: '';
    display: block;
    height: 1rem;
    left: 1.5rem;
    position: absolute;
    top: 1.5rem;
    width: 1rem;
}

.entry .status {
    font-size: .75em;
    padding-left: 1.25rem;
}


.header {
    align-items: flex;
    border-bottom: thin solid #212121;
    display: flex;
    flex-wrap: wrap;
    font-size: .75em;
    padding: 1em 0.5rem;
}

.header a {
    color: inherit;
}

.header .logo {
    background: url('../images/logo.png') no-repeat .5rem .25rem / 1.5rem 1.5rem;
    font-size: 1rem;
    min-height: 2rem;
    padding-bottom: .25rem;
    padding-left: 2.25rem;
    padding-top: .5rem;
}

.header .nav {
    flex: 1;
}

.header .nav-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.header .nav-list li {
    padding: .5rem .25rem .25rem;
}

.footer {
    border-top: thin solid #212121;
    font-size: .75rem;
    padding: 1em 0.5rem;
}

.footer a {
    color: inherit;
}