extends ../layout

block content
  h1= h1
  p Plateostatus normalizes status and specification URL of the Platform Status data. Following pages describe how Plateostatus normalizes them.
  dl
    dt
      a(href='/n11n/status/') Status of Platform Status data
    dd
      p Each Platform Status uses different set of statuses. Plateostatus normalizes those statuses into a custom set of statuses.
    dt
      a(href='/n11n/url/') Specification URL of Platform Status data
    dd
      p URLs of specifications are sometimes changed. However Platform Statuses don't always update URLs. Plateostatus normalizes specification URL of Platform Status data semi-automatically.
