extends ../layout

block content
  h1 Normalization
  p Plateostatus normalizes status and specification URL of platform status data. Following pages describe how Plateostatus normalizes them.
  dl
    dt
      a(href='/n11n/status/') Status of platform status data
    dd
      p Each platform status uses different set of statuses. Plateostatus normalizes those statuses into a custom set of statuses.
    dt
      a(href='/n11n/url/') Specification URL of platform status data
    dd
      p URLs of specifications are sometimes changed. However platform statuses don't always update URLs. Plateostatus normalizes specification URL of platform status data semi-automatically.
