extends ../layout

block content
  h1= h1
  p Plateostatus normalizes status and specifications' URL of the Platfrom Status entries. Following pages explain how Plateostatus normalizes them.
  dl
    dt
      a(href='/n11n/status/') Status of Platform Status
    dd
      p Each Platform Status uses different set of Status. Plateostatus normalizes thier status.
    dt
      a(href='/n11n/url/') Specifications' URL of Platform Status
    dd
      p URL of specifications are sometimes changed. However the Platfrom Status not always update URLs. Plateostatus normalizes specifications' url by automatically and manually.
